#header-navbar {
    position: sticky;
    top: 0;
    background: white;
    z-index: 99;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    border-top: #d65703 10px solid;
    border-bottom: #ccc 1px solid;
    color: black;
    padding: 20px;
}

.nav-right a,
.nav-right button {
    padding: 10px 20px;
    border-radius: 6px;
    border: 3px solid whitesmoke;
    cursor: pointer;
}


#header-navbar ul li {
    display: inline-block;
}

#nav-crear-registro {
    background: rgb(59, 18, 241)!important;
    color: #fff;
    opacity: .9;
}

#nav-crear-registro:hover {
    opacity: 1;
}

#nav-logout {
    border: #E0274C 1px solid;
    color: #E0274C;
    background: none;
}

#nav-login {
    border: blue 1px solid;
    color: blue;
}


#header-navbar a:hover {
    background: #dadada8e;
}

#header-navbar a {
    text-decoration: none;
}

#content {
    margin-top: 40px;
    margin-bottom: 100px;
    display: grid;
    place-content: center;
}

a {
    color: inherit;
    text-decoration: none;
}